<!DOCTYPE html>
	<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>CSS Login Page Template - W3jar.Com</title>
	    <link rel="stylesheet" href="css/login.css">
	</head>
	<body>

        

	    <div class="main-container">
	        <div class="form-container2">
	

	            <div class="form-body2">

                        <form action="/register"  method="POST">
                                <div class="detail">
                                        <input type="text" name="firstname" id=""      placeholder="enter your first name*">
                                        <input type="text" name="lastname" id=" "      placeholder="enter your last name*">
                                        <input type="email" name="email" id=""   placeholder="enter email id*">
                                        <input type="text" minlength="10" maxlength="10" name="phone" id=""         placeholder="enter mobile number*">
                                </div>
                                <div class="password">
                                        <input type="password" name="password" id="password"      placeholder="enter password*">
                                        <input type="password" name="confirmpassword" id=""       placeholder="confirm password*">
                                     
                                     <div class="gender">
                                        <label for="radio">Male</label>
                                        <input type="radio" name="gender" id="" value="male" checked>
                                        <label for="radio">Female</label>
                                        <input type="radio" name="gender" id="" value="female" checked>
                                     </div>
                        
                                      <input type="submit" value="Register" class="btnRegister">
                                </div>
        
                        </form>
	

	            </div><!-- FORM BODY-->
	

	            <div class="form-footer">
	                <div>
	                    <span>already have an account?</span> <a href="/login.">log in</a>
	                </div>
	            </div><!-- FORM FOOTER -->
	

	        </div><!-- FORM CONTAINER -->
	    </div>
	

	</body>
	</html>

